.selected {
    border-color: black;
  }
.container {
    &__moosu,
    &__moomem,
    &__moobilling {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 1200px;
        margin: 15px auto;
        padding: 15px;
        gap: 15px;

        &__list {
            width: 330px;
            height: 280px;
            transition: border-color 0.3s;

        }
    }
    &__cardheader {
        position: relative;
        &__liveimg {
            border-radius: 10px;
            width: 300px;
        }
        &:hover .container__cardheader__livestart {
            opacity: 1;
        }
        &__view {
            display: flex;
            align-items: center;
            position: absolute;
            top: 25px;
            left: 30px;
            background: rgba(0, 0, 0, .6);
            height: 22px;
            padding: 0 8px 0 7px;
            border-radius: 30px;
            color: #fff;
            font-size: 12px;
            line-height: 22px;
            z-index: 5;
            transition: opacity .2s;
        }
        &__view::before {
            content: "";
            display: block;
            background: #ff2424;
            width: 6px;
            height: 6px;
            margin-right: 6px;
            border-radius: 50%;
        }
        &__livestart {
            position: absolute;
            bottom: 24px;
            right: 24px;
            background: rgba(23, 25, 28, .8);
            height: 20px;
            padding: 0 8px;
            border-radius: 20px;
            color: #fff;
            font-size: 12px;
            line-height: 20px;
            z-index: 5;
            opacity: 0;
            transition: opacity .2s;
        }
    }
    &__cardcontent {
        display: flex;
        align-items: center;
    }
    &__cardfooter {
        display: flex;
        justify-content: space-between;
    }
    &__multiviewbutton {
        position: fixed;
        bottom: 40px;
        background: linear-gradient(90deg, #000000, #02235a);
        left: calc(50% - 60px);
        padding: 16px 32px;
        border-radius: 40px;
        box-shadow: 0 6px 56px 0 rgba(0, 0, 0, .5);
        transform: translateY(0);
        transition: .5s !important;
        z-index: 99;
    }
}